    <footer class="footer_page">
        <div><a href="">Contact Us</a></div>
        <div><p>CalmCompass @ 2024. All rights reserved.</p></div>
        <div><a href="">Feedback</a></div>
    </footer>

</div>

</body>

</html>
