        <main>
            <div class="content_box">
                <h1>Experiences</h1>
                <p>This section is dedicated to people who have suffered in many ways related to mental health. They are brave enough to share their journey for you to read.</p>
                <div id="stickers">
                    <div class="reactive_text_box_secondary">
                        <h2>Experience 1</h2>
                        <p class="text_box_secondary">(Their story)</p>
                        <p class="text_box_secondary">(Their name)</p>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Experience 2</h2>
                        <p class="text_box_secondary">(Their story)</p>
                        <p class="text_box_secondary">(Their name)</p>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Experience 3</h2>
                        <p class="text_box_secondary">(Their story)</p>
                        <p class="text_box_secondary">(Their name)</p>
                    </div>
                </div>

                <h1>Videos/Blogs</h1>
                <div id="stickers">
                    <div class="reactive_text_box_secondary">
                        <h2>Video Advice 1</h2>
                        <iframe src="https://www.youtube.com/embed/Cvr88-tLy4g">
                        </iframe>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Video Advice 2</h2>
                            <iframe src="https://www.youtube.com/embed/Cvr88-tLy4g">
                            </iframe>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Video Advice 3</h2>
                        <iframe src="https://www.youtube.com/embed/Cvr88-tLy4g">
                        </iframe>
                    </div>
                </div>
            </div>
        </main>
