<%- include("partials/header"); -%>

        <div class="content_box">
            <h1>General Evaluation</h1>
            <p>Here, you will be able to perform a general evaluation anytime for free. A lot of people don't know that they need help, so doing a regular checkup on yourself like this one could really help you start an amazing healing journey. </p>
            <button type="button" class="btn btn-primary">Evaluation</button>

            <br>
            <br>

            <h1>Chatbot</h1>
            <p>Meet your friendly companion, Milo. This Chatbot is able to assist anyone who needs to talk ,learn about mental health and even symptom checks. Milo will give you the direct resources from which it found the information, and any conversation will be only between you and Milo. <b>Dont share your private information since data still needs to be recorded.</b></p>
            
            <form action="/chatbot" method="get">
                <button type="submit" class="btn btn-primary">Talk with Milo</button>
            </form>



            <br>
            <br>

            <h1>Quizzes</h1>
            <div id="stickers">
                <div class="reactive_text_box_secondary">
                    <h2>Quiz 1</h2>
                    <p class="text_box_secondary">(Info on what the quiz is about)</p>
                    <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                </div>
                <div class="reactive_text_box_secondary">
                    <h2>Quiz 2</h2>
                    <p class="text_box_secondary">(Info on what the quiz is about)</p>
                    <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                </div>
                <div class="reactive_text_box_secondary">
                    <h2>Quiz 3</h2>
                    <p class="text_box_secondary">(Info on what the quiz is about)</p>
                    <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                </div>
            </div>
        </div>

<%- include("partials/footer"); -%>