
        <div class="chat_bot_container">
            
            <div class="chat_bot_content_box"></div>
            
            <footer class="chat_bot_footer">
                <div class="chat_bot_input_container">
                    <input type="text" id="chat_bot_input_box_text" placeholder="Message">
                    <button id="chat_bot_input_box_button">Send</button>
                </div>
            
            </footer>
        </div>
