<%- include("partials/header"); -%>

        <main>

            <div class="content_box">
                <h1>Forum 1</h1>
                <h2>Idea for an event</h2>
                <p>Hey guys, so here's an event i have planned for saturday....</p>
                <button type="button" class="btn btn-primary">Upvote</button>
                <hr>
                <h1>Forum 2</h1>
                <h2>Do you think im ugly?</h2>
                <p>I've always thought that i was ugly....</p>
                <button type="button" class="btn btn-primary">Upvote</button>
            </div>
        </main>

<%- include("partials/footer"); -%>