<%- include("partials/header"); -%>

        <main>
            <div class="content_box">
                <h1>Popular Articles</h1>

                <div id="stickers">
                    <div class="reactive_text_box_secondary">
                        <h2>Article 1</h2>
                        <p class="text_box_secondary">(Info on what the article is about)</p>
                        <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Article 2</h2>
                        <p class="text_box_secondary">(Info on what the article is about)</p>
                        <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                    </div>
                    <div class="reactive_text_box_secondary">
                        <h2>Article 3</h2>
                        <p class="text_box_secondary">(Info on what the article is about)</p>
                        <a href="#"><img src="images/article.jpeg" alt="Article Image"></a>
                    </div>
                </div>

                <h1>Lifestyle Choices</h1>

                    <h2>Healthy Habits</h2> 
                        <ul>
                            <li>Exercise</li>
                            <li>Sleep well</li>
                            <li>Balanced diet</li>
                            <li>Stay away from harmful substances</li>
                        </ul>
                    <h2>Self Care</h2> 
                        <ul>
                            <li>Take breaks</li>
                            <li>Create a routine</li>
                            <li>Don't be afraid of treating yourself </li>
                        </ul>
                <br>
                <h1>Preventative Measures</h1>
                    <h2>Stress</h2> 
                        <ul>
                            <li>Set realistic goals</li>
                            <li>Know when to stop when things aren't going how you expecteed</li>
                            <li>Have good relationships and communicate with loved ones often</li>
                            <li>Seek professional help</li>
                        </ul>
                    <h2>Anxiety</h2> 
                        <ul>
                            <li>Challenging avoidance</li>
                            <li>Gradual exposure</li>
                            <li>Deep breathing</li>
                        </ul>
            </div>

        </main>

<%- include("partials/footer"); -%>