<%- include("partials/header"); -%>


<main>

    <div id="stickers">

        <div class="reactive_text_box" id="green_box"> 
            <p class="text_box">
                 Mental health encompasses our emotional, psychological, and social well-being. It influences how we think, feel, and act, affecting how we handle stress.
            
            </p>

        </div>

        <div id="column_red_purple">

        <div class="reactive_text_box" id="red_box">
            <p class="text_box">
                We are CalmCompass, a platform that helps you have psychological help, a self-assessment process. <b>We invite you to grow with us and our platform, welcome to our community!!</b>


            </p>
        </div>

        <div class="reactive_text_box" id="purple_box">
            <p class="text_box">

                Advantages of seeking psychological help: Increases self-awareness,  Improves quality of life, Enhances personal, social, and family well-being.
            </p>
        </div>
        </div>
        <div class="reactive_text_box" id="aqua_box">
            <p class="text_box">
                How to improve self-esteem and self-confidence: Understand self-esteem and self-confidence, Challenge your negative thoughts, Cultivate self-acceptance.
            </p>
        </div>

    </div>
</main>




<%- include("partials/footer"); -%>